In [2]:
import os
import sys
sys.path.insert(0, os.path.abspath("../src"))

# Import local module
import pandas as pd
from utils import print_hello_world_by_name
from ingest import process_data

In [3]:
print_hello_world_by_name("Mai Anh")

'Hello World, Mai Anh!'

In [4]:
!ls ../data/01_raw/

online_retail.xlsx     online_retail.xlsx.dvc

In [5]:
# Ingest
df_raw = pd.read_excel('../data/01_raw/online_retail.xlsx')
df_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46431 entries, 0 to 46430
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   InvoiceNo    46431 non-null  object
 1   StockCode    46431 non-null  object
 2   Description  46431 non-null  object
 3   Quantity     46431 non-null  int64
 4   InvoiceDate  46431 non-null  datetime64[ns]
 5   UnitPrice    46431 non-null  float64
 6   CustomerID   44951 non-null  float64
 7   Country      46431 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 2.8+ MB

In [6]:
df_raw.describe().T

,count,mean,std,min,25%,50%,75%,max
Quantity,46431.0,19.655424,47.233708,-624.0,4.00,10.00,16.00,2400.00
UnitPrice,46431.0,5.450852,63.360527,0.0,1.25,1.95,3.75,4161.06
CustomerID,44951.0,13193.105203,1085.609495,12347.0,12484.00,12658.00,14156.00,17844.00

In [7]:
help(process_data)

Help on function process_data in module ingest:

process_data(df: pandas.core.frame.DataFrame, null_cols: list, outliers_cols: Dict) -> pandas.core.frame.DataFrame
    Process data for analysis
    1. Remove null values
    2. Remove outliers
    3. Transform date columns
    Args:
        - df (pd.DataFrame): Dataframe to process
    Return:
        - df (pd.DataFrame): Processed dataframe

In [8]:
outlier_policies = {
    'UnitPrice': [0, 10],
    'Quantity': [0, 50]
}

df_clean = process_data(df_raw,
                       null_cols=['CustomerID'],
                       outliers_cols=outlier_policies)

In [9]:
df_clean.describe().T

,count,mean,std,min,25%,50%,75%,max
Quantity,44951.0,14.012325,13.857631,0.0,4.00,10.00,16.00,50.0
UnitPrice,44951.0,3.009135,2.758612,0.0,1.25,1.95,3.75,10.0
CustomerID,44951.0,13193.105203,1085.609495,12347.0,12484.00,12658.00,14156.00,17844.0